{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.newsletter_page.newsletter{% endtrans %}{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter section">
                <h1 class="title">{% trans %}app.newsletter_page.title{% endtrans %}</h1>
                <h2 class="subtitle">{% trans %}app.newsletter_page.subtitle{% endtrans %}</h2>

                <p class="has-text-justified">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet ornare nulla at congue.
                    Aliquam pellentesque sapien vel leo efficitur, et sodales odio commodo. Sed consectetur eros tortor,
                    in rhoncus dui pulvinar ac. Ut et dolor vitae enim lobortis rutrum vel a diam. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Morbi ut neque quis massa vehicula viverra nec ac elit. Duis turpis metus,
                    bibendum ut tincidunt in, scelerisque ac nisl. Curabitur ultrices, mauris in ornare facilisis,
                    nibh lectus tristique justo, ut gravida erat metus ut arcu. Nulla facilisi.
                    Pellentesque mattis dolor sit amet augue viverra, ac efficitur urna commodo. Sed rhoncus tellus sit amet
                    malesuada efficitur. Curabitur maximus sem non bibendum scelerisque.
                </p>

                <div class="columns is-centered avis-newsletter">
                    <div class="column is-two-thirds">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <form method="post" action="{{ path('newsletter') }}">
                            {{ form_row(form._token) }}

                            <div class="field has-addons">
                                <div class="control has-icons-left avis-newsletter-input">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <input type="email"
                                           name="email[email]"
                                           id="email"
                                           class="input"
                                           placeholder="cool@avis.com"
                                           required
                                    >
                                </div>
                                <div class="control">
                                    <button class="button is-rounded$ avis-button-red is-link" type="submit">
                                        {% trans %}app.newsletter_page.sign_in{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
