{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.newsletter_page.congrats{% endtrans %}{% endblock %}

{% block body %}
    <div class="container is-fluid">
        <div class="columns is-vcentered">
            <div class="column is-half avis-newsletter-aside"></div>
            <div class="column section">
                <div class="columns">
                    <div class="column is-half-desktop is-offset-one-quarter">
                        <h1 class="title">{% trans %}app.newsletter_page.well_created{% endtrans %}</h1>
                        <h3 class="subtitle">{% trans %}app.newsletter_page.send_mail{% endtrans %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

