<h1>Welcome {{ email.toName }}!</h1>

<p>
    You signed up as {{ emailAddress }} the following email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Click here to activate your account</a>
</p>