<div class="columns">
    <div class="column is-half">
        <form name="user" method="post">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if user.id is not null %}
                                <p class="title is-4">{{ user.username }}</p>
                                <p class="subtitle is-6">{{ user.email }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <div class="field">
                            <label for="email" class="label">{% trans %}user.email{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="user[email]"
                                       id="email"
                                       class="input"
                                       value="{{ user.email }}"
                                       required
                                       autofocus
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="username" class="label">{% trans %}user.username{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="user[profile][username]"
                                       id="username"
                                       class="input"
                                       value="{{ user.username }}"
                                       required
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="catchPhrase" class="label">{% trans %}user.catch_phrase{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="user[profile][catchPhrase]"
                                       id="catchPhrase"
                                       class="input"
                                       value="{% if user.profile %} {{ user.profile.catchPhrase }} {% endif %}"
                                       required
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-signature"></i>
                                </span>
                            </div>
                        </div>

                        {% if user.id is null %}
                            <div class="field">
                                <label for="password" class="label">{% trans %}user.password{% endtrans %} *</label>
                                <div class="control has-icons-left">
                                    <input type="password"
                                           name="user[password]"
                                           id="password"
                                           class="input"
                                           value="{{ user.password }}"
                                           required
                                    >
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                        {% endif %}

                        <div class="field">
                            <label for="roles" class="label">{% trans %}user.roles{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <div class="select is-multiple full-width">
                                    <select id="roles"
                                            class="full-width"
                                            name="user[roles][]"
                                            multiple
                                            size="2"
                                            required
                                    >
                                        {% for role in roles %}
                                            {% set selected = '' %}
                                            {% if role in user.roles %}
                                                {% set selected = 'selected=selected' %}
                                            {% endif %}
                                            <option value="{{ role }}" {{ selected }}>{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user-shield"></i>
                                </span>
                            </div>
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_user_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if user.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'user.alert', id: user.id, path: 'admin_user_delete'}
            %}
        </div>
    </div>
{% endif %}
