<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-users"></i>
    </span>&nbsp;
    {% trans %}user.management{% endtrans %}
    <p class="help">{% trans %}user.helper{% endtrans %}</p>
</h1>
