{% extends 'admin/user/base.html.twig' %}

{% set button = 'admin.edit' %}

{% block title %} - {% trans %}admin.edit{% endtrans %} {% trans %}user.user{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
            'sectionUrl': 'admin_user_index',
            'section': 'user.users',
            'isCrudActive': true,
            'crud': 'admin.edit'
        }
    %}

    {{ include('admin/user/_form.html.twig', {button_label: button}) }}
{% endblock %}
