{% extends 'admin/user/base.html.twig' %}

{% block title %} - {% trans %}user.users{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_user_index', 'section': 'user.users'}
    %}

    {% include 'admin/_filter.html.twig' %}

    <table class="table avis-table is-bordered is-hoverable is-fullwidth sortable">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}user.email{% endtrans %}</th>
            <th>{% trans %}user.username{% endtrans %}</th>
            <th>{% trans %}user.roles{% endtrans %}</th>
            <th>{% trans %}admin.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_user_show', {'id': user.id}) }}">
                        {{ user.email }}
                    </a>
                </td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : ' - ' }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_user_edit', {'id': user.id}) }}">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'admin/_new.html.twig' with {name: 'admin_user_new'} %}
{% endblock %}
