{% extends 'admin/user/base.html.twig' %}

{% block title %} - {% trans %}user.user{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_user_index',
        'section': 'user.users',
        'isCrudActive': true,
        'crud': 'user.user'
    }
    %}

    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ user.username }}</p>
                            <p class="subtitle is-6">{{ user.profile.catchPhrase }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            {% trans %}user.email{% endtrans %} : {{ user.email }}
                        </p>
                        <p>
                            {% trans %}user.roles{% endtrans %} : {{ user.roles ? user.roles|join(', ') : '' }}
                        </p>
                    </div>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig' with {url: 'admin_user_index', class: 'card-footer-item'} %}
                    {% include 'admin/_edit.html.twig'
                        with {url: 'admin_user_edit', id: user.id, class: 'card-footer-item'}
                    %}
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
