<div class="columns">
    <div class="column is-half">
        <form name="media" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if medium.id is not null %}
                                <p class="title is-4">{{ medium.media.originalName }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <div class="field">
                            <label for="media" class="label">{% trans %}media.medium{% endtrans %} *</label>
                            <div class="file has-name is-fullwidth">
                                <label class="file-label" for="media">
                                    <input class="file-input"
                                           id="media"
                                           type="file"
                                           name="media[mediaFile][file]"
                                           required
                                    >
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            {% trans %}admin.choose.image{% endtrans %}
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        ...
                                    </span>
                                </label>
                            </div>
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_media_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if medium.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'media.alert', id: medium.id, path: 'admin_media_delete'}
            %}
        </div>
    </div>
{% endif %}
