<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-photo-video"></i>
    </span>&nbsp;
    {% trans %}media.management{% endtrans %}
    <p class="help">{% trans %}media.helper{% endtrans %}</p>
</h1>
