{% extends 'admin/media/base.html.twig' %}

{% block title %} - {% trans %}media.media{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_media_index', 'section': 'media.media'}
    %}

    {% for idx, medium in media %}
        {% if idx%4 == 0 %}
            <div class="tile is-ancestor">
        {% endif %}

        <div class="tile is-3 is-parent">
            <div class="tile is-child card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ vich_uploader_asset(medium, 'mediaFile') }}" alt="{{ medium.media.name }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                <a class="avis-link-green" href="{{ path('admin_media_show', {'id': medium.id}) }}">
                                    <span class="icon is-medium">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    {{ medium.media.originalName }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if idx%4 == 3 or idx == media|length-1 %}
            </div>
        {% endif %}
    {% endfor %}

    {% include 'admin/_new.html.twig' with {name: 'admin_media_new'} %}
{% endblock %}
