{% extends 'admin/media/base.html.twig' %}

{% set button = 'admin.create' %}

{% block title %} - {% trans %}admin.create{% endtrans %} {% trans %}media.medium{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_media_index',
        'section': 'media.media',
        'isCrudActive': true,
        'crud': 'admin.create'
    }
    %}

    {{ include('admin/media/_form.html.twig', {'button_label': button}) }}
{% endblock %}
