{% extends 'admin/media/base.html.twig' %}

{% block title %} - {% trans %}media.medium{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_media_index',
        'section': 'media.media',
        'isCrudActive': true,
        'crud': 'media.medium'
    }
    %}

    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ vich_uploader_asset(medium, 'mediaFile') }}" alt="{{ medium.media.name }}">
                    </figure>
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ medium.media.originalName }}</p>
                            <p class="subtitle is-6">{{ medium.media.name }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            {% trans %}media.dimensions{% endtrans %} : {{ medium.media.dimensions|join('x') }} px
                        </p>
                        <p>
                            {% trans %}media.size{% endtrans %} : {{ convertByte(medium.media.size) }}
                        </p>
                    </div>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {'url': 'admin_media_index', 'class': 'card-footer-item'} %}
                    {% include 'admin/_edit.html.twig'
                        with {'url': 'admin_media_edit', 'id': medium.id, 'class': 'card-footer-item'}
                    %}
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
