<a class="avis-link-green {% if class is defined %}{{ class }} {% else %} button is-rounded{% endif %}"
   href="{{ path(url) }}"
>
    <span class="icon">
        <i class="fas fa-arrow-left"></i>
    </span>
</a>
