<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a class="avis-navbar-item" href="{{ path('admin_dashboard') }}">{% trans %}app.admin{% endtrans %}</a>
        </li>
        <li {% if isSectionActive is defined and isSectionActive %}class="is-active"{% endif %}>
            <a class="avis-navbar-item" href="{{ path(sectionUrl) }}">{{ section|trans }}</a>
        </li>
        {% if crud is defined%}
            <li {% if isCrudActive %}class="is-active"{% endif %}>
                <a class="avis-navbar-item" href="#">{{ crud|trans }}</a>
            </li>
        {% endif %}
    </ul>
</nav>
