{% set alert = message|trans %}

<form method="post"
      action="{{ path(path, {'id': id}) }}"
      onsubmit="return confirm('{{ alert }}');"
>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">

    <div class="field">
        <div class="control">
            <button class="button is-danger is-light" type="submit">
                {% trans %}admin.delete{% endtrans %}
            </button>
        </div>
    </div>
</form>
