<a class="avis-link-green {% if class is defined %}{{ class }} {% else %} button is-rounded{% endif %}"
   href="{{ path(url, {'id': id}) }}"
>
    <span class="icon">
        <i class="fas fa-edit"></i>
    </span>
</a>
