<div class="field">
    <label for="search" class="label">{% trans %}app.search{% endtrans %}</label>
    <div class="control has-icons-left">
        <input type="search"
               id="search"
               class="input table-filter"
               data-table="avis-table"
               placeholder="Filter"
        >
        <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
        </span>
    </div>
</div>
