{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% block admin_stylesheets%}{% endblock %}
    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
    <div class="admin">
        <div class="columns admin-container">
            <div class="column is-one-quarter admin-menu">
                <div class="section">
                    {% include('admin/menu.html.twig') %}
                </div>
            </div>
            <div class="column">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% block admin_javascripts%}{% endblock %}
    {{ encore_entry_script_tags('admin') }}
    {{ encore_entry_script_tags('sorttable') }}
    {{ encore_entry_script_tags('filterable') }}
{% endblock %}
