<aside class="menu">
    <p class="menu-label avis-dark-white">
        {% trans %}admin.menu.general{% endtrans %}
    </p>
    <ul class="menu-list">
        <li>
            <a class="admin-menu-link avis-dark-white" href="{{ path('admin_dashboard') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-table"></i>
                </span>&nbsp;
                {% trans %}admin.menu.dashboard{% endtrans %}
            </a>
        </li>
    </ul>

    <p class="menu-label avis-dark-white">
        {% trans %}admin.menu.users{% endtrans %}
    </p>
    <ul class="menu-list">
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_user_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-users"></i>
                </span>&nbsp;
                {% trans %}user.users{% endtrans %}
            </a>
        </li>
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_email_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>&nbsp;
                {% trans %}email.mail_list{% endtrans %}
            </a>
        </li>
    </ul>

    <p class="menu-label avis-dark-white">
        {% trans %}admin.menu.articles{% endtrans %}
    </p>
    <ul class="menu-list">
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_folder_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-folder"></i>
                </span>&nbsp;
                {% trans %}folder.folders{% endtrans %}
            </a>
        </li>
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_article_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-pen-nib"></i>
                </span>&nbsp;
                {% trans %}article.articles{% endtrans %}
            </a>
        </li>
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_tag_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-tags"></i>
                </span>&nbsp;
                {% trans %}tag.tags{% endtrans %}
            </a>
        </li>
    </ul>

    <p class="menu-label avis-dark-white">
        {% trans %}admin.menu.quotes{% endtrans %}
    </p>
    <ul class="menu-list">
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_quote_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-quote-left"></i>
                </span>&nbsp;
                {% trans %}quote.quotes{% endtrans %}
            </a>
        </li>
    </ul>

    <p class="menu-label avis-dark-white">
        {% trans %}admin.menu.media{% endtrans %}
    </p>
    <ul class="menu-list">
        <li>
            <a class="admin-menu-link avis-dark-white has-icon-left" href="{{ path('admin_media_index') }}">
                <span class="icon is-small is-left">
                    <i class="fas fa-photo-video"></i>
                </span>&nbsp;
                {% trans %}media.media{% endtrans %}
            </a>
        </li>
    </ul>
</aside>
