{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.home_page.home{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('quote') }}
{% endblock %}

{% block body %}
    <div class="container is-fluid avis-homepage">
        <div class="section avis-quote-section">
            {% include '_quote.html.twig' with {quote: quote} %}
        </div>

        <div class="section">
            {% include '_folders.html.twig' with {folders: folders} %}
        </div>
    </div>
{% endblock %}
