<div class="columns">
    <div class="column is-half">
        <form name="quote" method="post">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if quote.id is not null %}
                                <p class="title is-4">{{ quote.author }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <div class="field">
                            <label for="quote" class="label">{% trans %}quote.quote{% endtrans %} *</label>
                            <div class="control">
                                <textarea name="quote[quote]"
                                          id="quote"
                                          class="textarea"
                                          required
                                          autofocus
                                >{{ quote.quote }}</textarea>
                            </div>
                        </div>

                        <div class="field">
                            <label for="author" class="label">{% trans %}quote.author{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="quote[author]"
                                       id="author"
                                       class="input"
                                       value="{{ quote.author }}"
                                       required
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field avis-quote-sources">
                            <label class="label">{% trans %}quote.sources{% endtrans %}</label>
                            <p class="help">
                                {% trans %}3 maximum.{% endtrans %}
                            </p>

                            <a class="button is-rounded avis-link-green add-form-field">
                                {% trans %}label.add{% endtrans %}
                            </a>

                            {% if quote.sources is not empty %}
                                {% for source in quote.sources %}
                                    <div class="control has-icons-left">
                                        <input type="text"
                                               name="quote[sources][]"
                                               class="input"
                                               value="{{ source }}"
                                        >
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-paperclip"></i>
                                        </span>
                                        <a href="#" class="delete"></a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_quote_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if quote.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'quote.alert', id: quote.id, path: 'admin_quote_delete'}
            %}
        </div>
    </div>
{% endif %}
