<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-quote-left"></i>
    </span>&nbsp;
    {% trans %}quote.management{% endtrans %}
    <p class="help">{% trans %}quote.helper{% endtrans %}</p>
</h1>
