{% extends 'admin/admin.html.twig' %}

{% block admin_stylesheets %}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block content %}
    <div class="section">
        {% include 'admin/quote/_header.html.twig' %}

        {% block section %}{% endblock %}
    </div>
{% endblock %}

{% block admin_javascripts %}
    {{ encore_entry_script_tags('form') }}
{% endblock %}
