{% extends 'admin/quote/base.html.twig' %}

{% block title %} - {% trans %}quote.quotes{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_quote_index', 'section': 'quote.quotes'}
    %}

    {% include 'admin/_filter.html.twig' %}

    <table class="table avis-table is-bordered is-hoverable is-fullwidth sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}quote.quote{% endtrans %}</th>
                <th>{% trans %}quote.author{% endtrans %}</th>
                <th>{% trans %}admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_quote_show', {'id': quote.id}) }}">
                        {{ quote.id }}
                    </a>
                </td>
                <td>{{ quote.quote }}</td>
                <td>{{ quote.author }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_quote_edit', {'id': quote.id}) }}">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'admin/_new.html.twig' with {name: 'admin_quote_new'} %}
{% endblock %}
