{% extends 'admin/quote/base.html.twig' %}

{% set button = 'admin.create' %}

{% block title %} - {% trans %}admin.create{% endtrans %} {% trans %}quote.quote{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_quote_index',
        'section': 'quote.quotes',
        'isCrudActive': true,
        'crud': 'admin.create'
    }
    %}

    {{ include('admin/quote/_form.html.twig', {'button_label': button}) }}
{% endblock %}
