{% extends 'admin/quote/base.html.twig' %}

{% block title %} - {% trans %}quote.quote{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_quote_index',
        'section': 'quote.quotes',
        'isCrudActive': true,
        'crud': 'quote.quote'
    }
    %}

    {% include '_quote.html.twig' with {quote: quote} %}

    <br/>

    {% include 'admin/_back_to_list.html.twig' with {'url': 'admin_quote_index'} %}

    {% include 'admin/_edit.html.twig'
        with {'url': 'admin_quote_edit', 'id': quote.id}
    %}
{% endblock %}
