.avis-admin-article-container {
  max-width: 40em !important;
}

.avis-button-card {
  border: none !important;
  height: auto !important;
}

.admin-menu {
  background-color: #9A3549;
  margin-bottom: .75rem;
}

.admin-menu-link:hover {
  color: #4a4a4a !important;
}
