html, body {
  height: 100%;
}

.avis-2-5 {
  font-size: 2.5em !important;
}

.avis-article-header {
  background-color: #ffffff;
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  left: 3em;
  padding: 2em;
  position: absolute;
  top: 3em;
}

.avis-breadcrumb {
  margin-bottom: 2em;
}
.avis-breadcrumb-item {
  padding: 0 .75em;
}

.avis-button-green {
  background-color: #4FBB1B !important;
}
.avis-button-green:hover {
  background-color: #508F31 !important;
}
.avis-button-red {
  background-color: #9A3549 !important;
}
.avis-button-red:hover {
  background-color: #870A23 !important;
}

.avis-article-container {
  background-color: #ffffff;
  margin-top: -6em;
  max-width: 50em;
  padding: 2em;
}

.avis-color-inherit {
  color: inherit !important;
}

.avis-dark-green {
  color: #508F31 !important;
}
.avis-dark-red {
  color: #9A3549;
}
.avis-dark-white {
  color: #dedede !important;
}

.avis-danger {
  background-color: #870A23 !important;
}

.avis-folders-title {
  display: inline-block;
}

.avis-forest {
  background: url(../img/forest.svg) no-repeat 85% 100%;
  margin-bottom: -2.25rem;
}

.avis-green {
   color: #4FBB1B !important;
 }
.avis-grey {
  color: #4a4a4a !important;
}

.avis-homepage {
  background: url(../img/robin.svg) no-repeat 5% 100%;
  background-size: 5%;
}

.avis-icon {
  padding: 0 1em;
}

.avis-image-link {
  filter: grayscale(75%);
  transition: .5s ease-in-out;
}
.avis-image-link:hover {
  filter: grayscale(0);
}

.avis-link-green {
  color: #4FBB1B !important;
  transition: .5s ease-in-out;
}
.avis-link-green:hover {
  color: #508F31 !important;
}
.avis-link-red {
  color: #870A23 !important;
  transition: .5s ease-in-out;
}
.avis-link-red:hover {
  color: #9A3549 !important;
}

.avis-navbar-item {
  color: #870A23 !important;
}
.avis-navbar-item:active, .avis-navbar-item:hover, .avis-navbar-item:focus {
  background-color: #eeeeee !important;
  color: #9A3549 !important;
}
.avis-navbar {
  background-color: #fbfbfb;
  box-shadow: none !important;
}

.avis-newsletter {
  margin-top: 1em;
}
.avis-newsletter-aside {
  background: url(../img/email.svg) no-repeat center;
  background-size: 50%;
  min-height: 60vh;
}
.avis-newsletter-input {
  width: 100%;
}

.avis-red {
  color: #870A23;
}

.full-width {
  width: 100% !important;
}
