@media only screen and (min-width: 800px) {
  .avis-forms {
    background: #ffffff url(../img/tree-rounds.svg) no-repeat 75% 100%;
    min-height: 60vh;
  }
}

@media only screen and (max-width: 800px) {
  .avis-admin-link, .avis-quote-section {
    display: none;
  }

  .avis-article-container {
    margin-top: 0;
    padding: 1em 0;
  }
  .avis-article-header {
    background-color: #ffffff;
    box-shadow: none;
    left: auto;
    margin-top: 1em;
    padding: 0;
    position: relative;
    top: auto;
  }
}

@media only screen and (max-width: 1400px) {
  .avis-newsletter .column {
    width: 100% !important;
  }
}
