.avis-effect {
  align-items: center;
  cursor: pointer;
}

.avis-effect__heading {
  position: relative;
  z-index: 2;
}
.avis-effect__heading:after {
  content: "";
  position: absolute;
}

.avis-quote {
  background-color: #fbfbfb !important;
}

.avis-quote-effect .avis-effect__heading:before {
  content: "⎡";
  font-size: 4em;
  left: -30px;
  line-height: 1;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: translate(-50%, -150%) scale(0.8);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.avis-quote-effect .avis-effect__heading:after {
  content: "⎦";
  left: calc(100% + 45px);
  line-height: 1;
  font-size: 4em;
  opacity: 0;
  top: calc(100% - 8px);
  transform: translate(-50%, 50%) scale(0.8);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.avis-quote-effect .avis-effect__subheading {
  height: 0;
  opacity: 0;
  position: fixed;
  transform: translateY(100%);
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1), transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.avis-quote-effect:hover {
  opacity: 1;
}
.avis-quote-effect:hover .avis-effect__subheading {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}
.avis-quote-effect:hover .avis-effect__heading:after,
.avis-quote-effect:hover .avis-effect__heading:before {
  opacity: 0.1;
  transform: translate(-50%, -50%) scale(1);
}
