{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.folder_page.folder{% endtrans %} - {{ folder.name }}{% endblock %}

{% block body %}
    <div class="section">
        <div class="container has-text-centered">
            {% include '_breadcrumb.html.twig'
                with {'breadcrumb': breadcrumb}
            %}

            {% include '_articles.html.twig' with {'articles': articles} %}
        </div>
    </div>
{% endblock %}
