<div class="columns">
    <div class="column is-half">
        <form name="email" method="post">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if email.id is not null %}
                                <p class="title is-4">{{ email.email }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <div class="field">
                            <label for="email" class="label">{% trans %}email.email{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="email"
                                       name="email[email]"
                                       id="email"
                                       class="input"
                                       value="{{ email.email }}"
                                       required
                                       autofocus
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </div>
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_email_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if email.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'email.alert', id: email.id, path: 'admin_email_delete'}
            %}
        </div>
    </div>
{% endif %}
