<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-envelope"></i>
    </span>&nbsp;
    {% trans %}email.management{% endtrans %}
    <p class="help">{% trans %}email.helper{% endtrans %}</p>
</h1>
