{% extends 'admin/email/base.html.twig' %}

{% set button = 'admin.edit' %}

{% block title %} - {% trans %}admin.edit{% endtrans %} {% trans %}email.email{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_email_index',
        'section': 'email.emails',
        'isCrudActive': true,
        'crud': 'admin.edit'
    }
    %}

    {{ include('admin/email/_form.html.twig', {'button_label': button}) }}
{% endblock %}
