{% extends 'admin/email/base.html.twig' %}

{% block title %} - {% trans %}email.emails{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_email_index', 'section': 'email.emails'}
    %}

    {% include 'admin/_filter.html.twig' %}

    <table class="table avis-table is-bordered is-hoverable is-fullwidth sortable">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}email.email{% endtrans %}</th>
            <th>{% trans %}email.createdAt{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td>{{ email.id }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_email_show', {'id': email.id}) }}">
                        {{ email.email }}
                    </a>
                </td>
                <td>{{ email.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
