{% extends 'admin/email/base.html.twig' %}

{% block title %} - {% trans %}email.email{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_email_index',
        'section': 'email.emails',
        'isCrudActive': true,
        'crud': 'email.email'
    }
    %}

    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ email.email }}</p>
                            <p class="subtitle is-6">
                                {% trans %}email.createdAt{% endtrans %}:
                                <time datetime="{{ email.createdAt|date('Y-m-d') }}">
                                    <i>{{ email.createdAt|date('Y-m-d H:h') }}</i>
                                </time>
                            </p>
                        </div>
                    </div>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {'url': 'admin_email_index', 'class': 'card-footer-item'} %}
                    {% include 'admin/_edit.html.twig'
                        with {'url': 'admin_email_edit', 'id': email.id, 'class': 'card-footer-item'}
                    %}
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
