{% extends 'forms.html.twig' %}

{% block title %} - {% trans %}app.contact_page.contact{% endtrans %}{% endblock %}

{% block form %}
    <h1 class="title">{% trans %}app.contact_page.contact_us{% endtrans %}</h1>
    <h2 class="subtitle">
        {% trans %}app.contact_page.leave_a_message{% endtrans %}&nbsp;
        <span class="icon is-small is-left">
            <i class="far fa-smile-beam"></i>
        </span>
    </h2>

    <form method="post" action="{{ path('contact') }}">
        <div class="field">
            <label for="name" class="label">{% trans %}user.name{% endtrans %} *</label>
            <div class="control has-icons-left">
                <input type="text"
                       name="contact[name]"
                       id="name"
                       class="input"
                       required
                       autofocus
                >
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label for="email" class="label">{% trans %}user.email{% endtrans %} *</label>
            <div class="control has-icons-left">
                <input type="email"
                       name="contact[email]"
                       id="email"
                       class="input"
                       required
                >
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label for="message" class="label">{% trans %}user.message{% endtrans %} *</label>
            <div class="control">
                <textarea name="contact[message]"
                          id="message"
                          class="textarea"
                          required
                ></textarea>
            </div>
        </div>

        <p class="help avis-dark-red">{% trans %}field mandatory{% endtrans %}</p>
        <br/>

        {{ form_row(form._token) }}

        {% if sent %}
            <div class="field">
                <div class="control">
                    <button class="button is-success is-rounded" disabled>
                        {% trans %}app.contact_page.sent{% endtrans %}
                    </button>
                </div>
            </div>
        {% else %}
            <div class="field">
                <div class="control">
                    <button class="button is-rounded avis-button-red is-link" type="submit">
                        {% trans %}app.contact_page.send{% endtrans %}
                    </button>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}
