{% for idx, article in articles %}
    {% if idx%3 == 0 %}
        <div class="tile is-ancestor">
    {% endif %}

    <div class="tile is-4 is-parent">
        <div class="tile is-child card">
            <div class="card-image">
                {% if article.cover is not null %}
                    <figure class="image is-4by3">
                        <a href="{{ path('article', {'id': article.id}) }}">
                            <img src="{{ vich_uploader_asset(article.cover, 'mediaFile') }}"
                                 class="avis-image-link"
                                 alt="{{ article.cover.media.originalName }}"
                            >
                        </a>
                    </figure>
                {% endif %}
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-3">
                            <a class="avis-link-green"
                               href="{{ path('article', {'id': article.id}) }}">
                                {{ article.title }}
                            </a>
                        </p>
                        <p class="subtitle">
                            <time class="is-size-6" datetime="{{ article.createdAt|date('Y-m-d') }}">
                                <i>{{ article.createdAt|date('Y-m-d H:h') }}</i>
                            </time>
                        </p>
                    </div>
                </div>

                <div class="content is-medium has-text-justified">
                    {{ article.caption }}
                    {% include '_tags.html.twig' with {'tags': article.tags} %}

                    - <span class="is-italic is-size-6">
                        {% trans %}label.by{% endtrans %} {{ article.createdBy.username }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    {% if idx%3 == 2 or idx == articles|length-1 %}
        </div>
    {% endif %}
{% endfor %}