<nav class="breadcrumb avis-breadcrumb has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a class="avis-navbar-item" href="{{ path('homepage') }}">{% trans %}app.home_page.home{% endtrans %}</a>
        </li>
        {% for item in breadcrumb %}
            <li {% if item is iterable and item['isActive'] %}class="is-active"{% endif %}>
                {% if item is iterable %}
                    <a class="avis-navbar-item" href="{{ path(item['path'], {id: item['id']}) }}">
                        {{ item['label'] }}
                    </a>
                {% else %}
                    <span class="avis-breadcrumb-item">{{ item }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
