<div class="notification is-danger avis-danger">
    {% if messageKey is defined %}
        {{ error.messageKey|trans(error.messageData) }}
    {% elseif message is defined %}
        {{ message|trans() }}
    {% endif %}
</div>

