<div class="columns">
    <div class="column section">
        <div class="columns">
            <div class="column is-offset-2">
                {% for folder in folders %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    {% if folder.articlePublished != 0 %}
                                    <a class="avis-link-green"
                                       href="{{ path('folder', {id: folder.id}) }}">
                                        {% endif %}
                                        <span class="icon is-large avis-2-5">
                                          {{ folder.icon|raw }}
                                        </span>
                                        <h1 class="title avis-color-inherit avis-folders-title">{{ folder.name }}</h1> -
                                        <span class="subtitle avis-color-inherit is-5 is-italic">
                                            {{ folder.articlePublished }}
                                            {% trans %}article.articles{% endtrans %}
                                        </span>
                                        {% if folder.articlePublished != 0 %}
                                    </a>
                                    {% endif %}
                                    <p class="has-text-justified">
                                        {{ folder.caption }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="column is-half avis-forest"></div>
</div>
