<footer class="footer avis-footer">
    <div class="content has-text-centered">
        <p>
            <strong>Avis Indoctus</strong> {% trans %}app.footer.by{% endtrans %}
            <a class="avis-link-red" href="https://gitlab.com/Birdiz">
                <span class="icon avis-icon is-small is-left">
                    <i class="fab fa-gitlab"></i>
                </span>
                Birdiz
            </a> -

            {% trans %}app.footer.powered{% endtrans %}
            <a class="avis-link-red" href="https://symfony.com/" title="Symfony">
                <span class="icon avis-icon is-small is-left">
                  <i class="fab fa-symfony"></i>
                </span>
                Symfony
            </a>
        </p>

        <p>
            {% trans %}app.footer.icons{% endtrans %}
            <a class="avis-link-red" href="https://www.flaticon.com/authors/freepik" title="Freepik">
                Freepik
            </a>
            {% trans %}label.and{% endtrans %}
            <a class="avis-link-red" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">
                Smashicons
            </a>
        </p>

        <p>
            {% if app.user %}
                <a href="{{ path('logout') }}" class="button is-light">
                    <span class="icon avis-icon is-small is-left">
                        <i class="fas fa-sign-out-alt"></i>
                    </span> &nbsp;
                    {% trans %}app.login.logout{% endtrans %}
                </a>
            {% else %}
                <a href="{{ path('login') }}" class="button is-light">
                    <span class="icon avis-icon is-small is-left">
                        <i class="fas fa-sign-in-alt"></i>
                    </span> &nbsp;
                    {% trans %}app.login.login{% endtrans %}
                </a>
            {% endif %}
        </p>
    </div>
</footer>
