<nav class="navbar has-shadow is-spaced avis-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item avis-navbar-item" href="{{ path('homepage') }}">
                <span class="title is-4 avis-red">Avis Indoctus</span>
            </a>

            <a class="navbar-item avis-navbar-item" href="{{ path('contact') }}">
                <span class="icon avis-icon is-small is-left">
                    <i class="fas fa-feather"></i>
                </span>&nbsp;
                {% trans %}app.contact_page.contact{% endtrans %}
            </a>

            <a class="navbar-item avis-navbar-item" href="{{ path('newsletter') }}">
                <span class="icon avis-icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>&nbsp;
                {% trans %}app.newsletter_page.newsletter{% endtrans %}
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if app.request.locale == 'de' %}
                        <a href="{{ path('homepage', {'_locale': 'fr'}) }}" class="button is-light">
                            <img src="{{ asset('build/images/france.ce81740b.svg') }}" alt="fr">
                        </a>
                    {% else %}
                        <a href="{{ path('homepage', {'_locale': 'de'}) }}" class="button is-light">
                            <img src="{{ asset('build/images/germany.652e718c.svg') }}" alt="de">
                        </a>
                    {% endif %}
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_dashboard') }}" class="button is-light avis-admin-link">
                            <span class="icon avis-icon is-small is-left">
                                <i class="fas fa-user-cog"></i>
                            </span>&nbsp;&nbsp;
                            {% trans %}app.admin{% endtrans %}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</nav>
