<div class="container">
    <div class="avis-effect avis-quote-effect">
        <div class="notification avis-quote">
            <div class="columns is-vcentered avis-effect__heading">
                <div class="column is-1 has-text-centered">
                    <span class="icon avis-green">
                      <i class="fas fa-2x fa-quote-left"></i>
                    </span>
                </div>
                <div class="column">
                    <p class="avis-quote content is-medium has-text-justified">
                        <span class="is-italic">{{ quote.quote }}</span>
                        &mdash;
                        <span class="has-text-weight-bold">{{ quote.author }}</span>
                    </p>
                </div>
            </div>
        </div>
        {% if quote.sources is not empty %}
            <div class="columns avis-effect__subheading">
                <div class="column">
                    <p class="content is-small">
                        {% for source in quote.sources %}
                            {{ source }}
                            <br/>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
