<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Avis{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('media') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include('_header.html.twig') %}

{% block body %}{% endblock %}

{% include('_footer.html.twig') %}
<script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('bulma') }}
{% block javascripts %}{% endblock %}
</body>
</html>
