{% extends 'base.html.twig' %}

{% block body %}
    <div class="container is-fluid avis-forms">
        <div class="columns contact">
            <div class="column section">
                <div class="columns">
                    <div class="column is-half-desktop is-offset-one-quarter">
                        {% block form %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="column is-half"></div>
        </div>
    </div>
{% endblock %}
