{% extends 'admin/dashboard/base.html.twig' %}

{% block title %} - {% trans %}app.admin{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_dashboard', 'section': 'admin.menu.dashboard'}
    %}

    <div class="columns">
        {% for element, total in totals %}
            {% if element == 'user.users'|trans %}
                {% set icon = 'fa-users' %}
            {% elseif element == 'article.articles'|trans %}
                {% set icon = 'fa-pen-nib' %}
            {% elseif element == 'quote.quotes'|trans %}
                {% set icon = 'fa-quote-left' %}
            {% elseif element == 'email.mail_list'|trans %}
                {% set icon = 'fa-envelope' %}
                {% set subject = 'emails' %}
            {% endif %}
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            <span class="icon is-medium">
                                <i class="fas {{ icon }}"></i>
                            </span>&nbsp;
                            {{ element }}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content has-text-centered">
                            <h1 class="title avis-green">
                                {{ total }}{% if subject is defined %} {{ subject }} {% endif %}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
