<div class="columns">
    <div class="column is-half">
        <form name="article" method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if article.id is not null %}
                                <p class="title is-4">{{ article.title }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        {% if article.cover is not null %}
                            <figure class="image is-4by3">
                                <img src="{{ vich_uploader_asset(article.cover, 'mediaFile') }}"
                                     alt="{{ article.cover.media.originalName }}"
                                />
                            </figure>
                        {% endif %}

                        <div class="field">
                            <label for="media" class="label">{% trans %}article.cover{% endtrans %} *</label>
                            <div class="file has-name is-fullwidth">
                                <label class="file-label" for="media">
                                    <input class="file-input"
                                           id="media"
                                           type="file"
                                           name="article[cover][mediaFile][file]"
                                           required
                                    >
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            {% trans %}admin.choose.image{% endtrans %}
                                        </span>
                                    </span>
                                    <span class="file-name">
                                        ...
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <label for="title" class="label">{% trans %}article.title{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="article[title]"
                                       id="title"
                                       class="input"
                                       value="{{ article.title }}"
                                       required
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="subtitle" class="label">{% trans %}article.subtitle{% endtrans %}</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="article[subtitle]"
                                       id="subtitle"
                                       class="input"
                                       value="{{ article.subtitle }}"
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-heading"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="caption" class="label">{% trans %}article.caption{% endtrans %}</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="article[caption]"
                                       id="caption"
                                       class="input"
                                       value="{{ article.caption }}"
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-signature"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="content" class="label">{% trans %}article.content{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <textarea name="article[content]"
                                          id="content"
                                          class="textarea"
                                          rows="10"
                                          required
                                >
                                    {{ article.content|replace({"\n":' ', "\r":' '})|raw }}
                                </textarea>
                            </div>
                        </div>

                        <div class="field">
                            <label for="tags" class="label">{% trans %}tag.tags{% endtrans %}</label>
                            <div class="control has-icons-left">
                                <div class="select is-multiple full-width">
                                    <select id="tags"
                                            class="full-width"
                                            name="article[tags][]"
                                            multiple
                                            size="3"
                                    >
                                        {% for tag in tags %}
                                            {% set selected = '' %}
                                            {% if tag in article.tags %}
                                                {% set selected = 'selected=selected' %}
                                            {% endif %}
                                            <option value="{{ tag.id }}" {{ selected }}>{{ tag.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-tags"></i>
                                </span>
                            </div>
                            <p class="help">{% trans %}article.choose_tags{% endtrans %}</p>
                        </div>

                        <div class="field">
                            <label for="folder" class="label">{% trans %}folder.folder{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <div class="select is-multiple full-width">
                                    <select id="folder"
                                            class="full-width"
                                            name="article[folder]"
                                            required
                                    >
                                        {% for folder in folders %}
                                            {% set selected = '' %}
                                            {% if folder == article.folder %}
                                                {% set selected = 'selected=selected' %}
                                            {% endif %}
                                            <option value="{{ folder.id }}" {{ selected }}>{{ folder.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-tags"></i>
                                </span>
                            </div>
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_article_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if article.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'article.alert', id: article.id, path: 'admin_article_delete'}
            %}
        </div>
    </div>
{% endif %}
