<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-pen-nib"></i>
    </span>&nbsp;
    {% trans %}article.management{% endtrans %}
    <p class="help">{% trans %}article.helper{% endtrans %}</p>
</h1>
