{% extends 'admin/article/base.html.twig' %}

{% block title %} - {% trans %}article.articles{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_article_index', 'section': 'article.articles'}
    %}

    {% include 'admin/_filter.html.twig' %}

    <table class="table avis-table is-bordered is-hoverable is-fullwidth sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}article.title{% endtrans %}</th>
                <th>{% trans %}article.createdBy{% endtrans %}</th>
                <th>{% trans %}article.createdAt{% endtrans %}</th>
                <th>{% trans %}article.updatedAt{% endtrans %}</th>
                <th>{% trans %}article.status{% endtrans %}</th>
                <th>{% trans %}admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_article_show', {'id': article.id}) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.createdBy.username }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
                <td>{{ article.status|trans() }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_article_edit', {'id': article.id}) }}">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button is-rounded avis-link-green" href="{{ path('admin_article_new') }}">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
    </a>
{% endblock %}
