{% extends 'admin/article/base.html.twig' %}

{% set button = 'admin.create' %}

{% block title %} - {% trans %}admin.create{% endtrans %} {% trans %}article.article{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_article_index',
        'section': 'article.articles',
        'isCrudActive': true,
        'crud': 'admin.create'
    }
    %}

    {{ include('admin/article/_form.html.twig', {'button_label': button}) }}
{% endblock %}

{% block admin_javascripts %}
    {{ encore_entry_script_tags('form') }}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            tinyMCE.init({
                selector: '#content',
                plugins: [
                    'lists autolink link hr anchor wordcount link',
                ],
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | hr link forecolor backcolor',
                menubar: '',
                style_formats: [
                    {
                        title: 'Headings', items: [
                            {title: 'Heading 1', format: 'h1'},
                            {title: 'Heading 3', format: 'h3'},
                            {title: 'Heading 5', format: 'h5'},
                        ]
                    },
                    {
                        title: 'Blocks', items: [
                            {title: 'Paragraph', format: 'p'},
                            {title: 'Blockquote', format: 'blockquote'},
                        ]
                    },
                ]
            });

            tinymce.activeEditor.setContent('{{ article.content|replace({"\n":' ', "\r":' '})|raw }}');
        });
    </script>
{% endblock %}
