{% extends 'admin/article/base.html.twig' %}

{% block title %} - {% trans %}article.article{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_article_index',
        'section': 'article.articles',
        'isCrudActive': true,
        'crud': 'article.article'
    }
    %}

    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    {% if article.cover is not null %}
                        <figure class="image is-4by3">
                            <a href="{{ path('article', {'id': article.id}) }}">
                                <img src="{{ vich_uploader_asset(article.cover, 'mediaFile') }}"
                                     class="avis-image-link"
                                     alt="{{ article.cover.media.originalName }}"
                                >
                            </a>
                        </figure>
                    {% endif %}
                </div>

                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                <a class="avis-link-green" href="{{ path('article', {'id': article.id}) }}">
                                    {{ article.title }}
                                </a>
                            </p>
                            <p class="subtitle">
                                <time class="is-size-7" datetime="{{ article.createdAt|date('Y-m-d') }}">
                                    <i>{{ article.createdAt|date('Y-m-d H:h') }}</i>
                                </time>
                            </p>
                        </div>
                    </div>

                    <div class="content has-text-justified">
                        {{ article.caption }}
                        {% include '_tags.html.twig' with {'tags': article.tags} %}

                        - <i>{% trans %}label.by{% endtrans %} {{ article.createdBy.username }}</i>
                    </div>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {'url': 'admin_article_index', 'class': 'card-footer-item'} %}
                    {% include 'admin/_edit.html.twig'
                        with {'url': 'admin_article_edit', 'id': article.id, 'class': 'card-footer-item'}
                    %}
                </footer>
            </div>

        </div>
        <div class="column is-two-third">
            <div class="container">
                <figure class="image is-16by9">
                    <img src="{{ vich_uploader_asset(article.cover, 'mediaFile') }}"
                         alt="{{ article.cover.media.originalName }}">
                </figure>

                <div class="avis-article-header">
                    <p class="title is-1 is-spaced">{{ article.title }}</p>
                    <p class="subtitle is-3">
                        {{ article.subtitle }} _
                        <time class="is-size-5" datetime="{{ article.createdAt|date('Y-m-d') }}">
                            <i>{{ article.createdAt|date('Y-m-d H:h') }}</i>
                        </time>
                    </p>
                    <p class="subtitle is-5">
                        {% include '_tags.html.twig' with {'tags': article.tags} %}
                    </p>
                </div>
            </div>

            <div class="content is-medium has-text-justified">
                <div class="container avis-article-container avis-admin-article-container">
                    {{ article.content|raw }}
                    <div class="has-text-right">{% trans %}label.by{% endtrans %} {{ article.createdBy.username }}.</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
