{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.error_page.oops{% endtrans %}{% endblock %}

{% block body %}
    <section class="section has-text-centered">
        <h1 class="title">
            <span class="icon is-large avis-dark-green">
                <i class="fas fa-poop"></i>
            </span>
        </h1>
        <h1 class="title">
            {% trans %}app.error_page.oops{% endtrans %}
        </h1>
        <p class="subtitle">
            {% trans %}app.error_page.something_went_wrong{% endtrans %}
            {% trans %}app.error_page.contact_site_owner{% endtrans %}
        </p>
        <a class="button" href="{{ path('homepage') }}">{% trans %}app.home_page.home{% endtrans %}</a>
        <a class="button" href="#">{% trans %}app.contact_page.contact{% endtrans %}</a>
    </section>
{% endblock %}
