{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.error_page.denied{% endtrans %}{% endblock %}

{% block body %}
    <section class="section has-text-centered">
        <h1 class="title">
            <span class="icon is-large avis-dark-green">
                <i class="fas fa-door-closed"></i>
            </span>
        </h1>
        <h1 class="title">{% trans %}app.error_page.denied{% endtrans %}</h1>
        <p class="subtitle">
            {% trans %}app.error_page.no_rights{% endtrans %}
        </p>
        <a class="button" href="{{ path('homepage') }}">{% trans %}app.home_page.home{% endtrans %}</a>
    </section>
{% endblock %}
