<div class="columns">
    <div class="column is-half">
        <form name="tag" method="post">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if tag.id is not null %}
                                <p class="title is-4">{{ tag.name }}</p>
                                <p class="subtitle is-6">{{ tag.slug }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <div class="field">
                            <label for="name" class="label">{% trans %}tag.name{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="tag[name]"
                                       id="name"
                                       class="input"
                                       value="{{ tag.name }}"
                                       required
                                       autofocus
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-tag"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="tag" class="label">{% trans %}tag.parent{% endtrans %}</label>
                            <div class="control has-icons-left">
                                <div class="select full-width">
                                    <select id="tag" class="full-width" name="tag[tag]">
                                        <option label=" " selected></option>
                                        {% for parent in parents %}
                                            {% if parent != tag %}
                                                {% set selected = '' %}
                                                {% if parent == tag.tag %}
                                                    {% set selected = 'selected=selected' %}
                                                {% endif %}
                                                <option value="{{ parent.id }}" {{ selected }}>{{ parent.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-link"></i>
                                </span>
                            </div>
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_tag_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if tag.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'tag.alert', id: tag.id, path: 'admin_tag_delete'}
            %}
        </div>
    </div>
{% endif %}
