<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-tags"></i>
    </span>&nbsp;
    {% trans %}tag.management{% endtrans %}
    <p class="help">{% trans %}tag.helper{% endtrans %}</p>
</h1>
