{% extends 'admin/admin.html.twig' %}

{% block content %}
    <div class="section">
        {% include 'admin/tag/_header.html.twig' %}

        {% block section %}{% endblock %}
    </div>
{% endblock %}
