{% extends 'admin/tag/base.html.twig' %}

{% block title %} - {% trans %}tag.tags{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_tag_index', 'section': 'tag.tags'}
    %}

    {% include 'admin/_filter.html.twig' %}

    <table class="table avis-table is-bordered is-hoverable is-fullwidth sortable">
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}tag.name{% endtrans %}</th>
            <th>{% trans %}tag.slug{% endtrans %}</th>
            <th>{% trans %}tag.parent{% endtrans %}</th>
            <th>{% trans %}admin.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_tag_show', {'id': tag.id}) }}">
                        {{ tag.name }}
                    </a>
                </td>
                <td>{{ tag.slug }}</td>
                <td>
                    {% if tag.tag is not null %}
                        <a class="avis-link-green" href="{{ path('admin_tag_show', {'id': tag.tag.id}) }}">
                            {{ tag.tag.name }}
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_tag_edit', {'id': tag.id}) }}">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'admin/_new.html.twig' with {name: 'admin_tag_new'} %}
{% endblock %}
