{% extends 'admin/tag/base.html.twig' %}

{% set button = 'admin.create' %}

{% block title %} - {% trans %}admin.create{% endtrans %} {% trans %}tag.tag{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_tag_index',
        'section': 'tag.tags',
        'isCrudActive': true,
        'crud': 'admin.create'
    }
    %}

    {{ include('admin/tag/_form.html.twig', {'button_label': button}) }}
{% endblock %}
