{% extends 'admin/tag/base.html.twig' %}

{% block title %} - {% trans %}tag.tag{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_tag_index',
        'section': 'tag.tags',
        'isCrudActive': true,
        'crud': 'tag.tag'
    }
    %}

    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ tag.name }}</p>
                            <p class="subtitle is-6">{% trans %}tag.slug{% endtrans %}: {{ tag.slug }}</p>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            {% trans %}tag.parent{% endtrans %} :
                            {% if tag.tag is not null %}
                                <a class="avis-link-green" href="{{ path('admin_tag_show', {'id': tag.tag.id}) }}">
                                    {{ tag.tag.name }}
                                </a>
                            {% else %}
                                -
                            {% endif %}
                        </p>
                    </div>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig' with {'url': 'admin_tag_index', 'class': 'card-footer-item'} %}
                    {% include 'admin/_edit.html.twig'
                        with {'url': 'admin_tag_edit', 'id': tag.id, 'class': 'card-footer-item'}
                    %}
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
