{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.article_page.article{% endtrans %} - {{ article.title }}{% endblock %}

{% block body %}
    <div class="section">
        <div class="container has-text-centered">
            {% include '_breadcrumb.html.twig'
                with {'breadcrumb': breadcrumb}
            %}
        </div>

        <div class="container">
            <figure class="image is-16by9">
                <img src="{{ vich_uploader_asset(article.cover, 'mediaFile') }}"
                     alt="{{ article.cover.media.originalName }}">
            </figure>

            <div class="avis-article-header">
                <p class="title is-1 is-spaced">{{ article.title }}</p>
                <p class="subtitle is-3">
                    {{ article.subtitle }} _
                    <time class="is-size-5" datetime="{{ article.createdAt|date('Y-m-d') }}">
                        <i>{{ article.createdAt|date('Y-m-d H:h') }}</i>
                    </time>
                </p>
                <p class="subtitle is-5">
                    {% include '_tags.html.twig' with {'tags': article.tags} %}
                </p>
            </div>
        </div>

        <div class="content is-medium has-text-justified">
            <div class="container avis-article-container">
                {{ article.content|raw }}
                <div class="has-text-right is-italic">
                    {% trans %}label.by{% endtrans %} {{ article.createdBy.username }}.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
