{% extends 'base.html.twig' %}

{% block title %} - {% trans %}app.article_page.search{% endtrans %} - {{ tag.name }}{% endblock %}

{% block body %}
    <div class="section">
        <div class="container has-text-centered">
            {% include '_breadcrumb.html.twig'
                with {'breadcrumb': breadcrumb}
            %}

            <h3 class="title is-3">
                {% trans %}app.articles_by_tag{% endtrans %}
                <span class="avis-red">#{{ tag.name }}</span>
            </h3>
            {% if tag.tag is not null %}
                <h6 class="subtitle">
                    {% trans %}app.follow_parent_tag{% endtrans %}:
                    <a class="avis-link-red" href="{{ path('article_search', {'tag': tag.tag.slug}) }}">
                        #{{ tag.tag.name }}
                    </a>
                </h6>
            {% endif %}

            {% include '_articles.html.twig' with {'articles': articles} %}
        </div>
    </div>
{% endblock %}
