<div class="columns">
    <div class="column is-half">
        <form name="folder" method="post">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            {% if folder.id is not null %}
                                <p class="title is-4">{{ folder.name }}</p>
                            {% else %}
                                <p class="title is-4">{% trans %}admin.create{% endtrans %}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="content">
                        {% if errors is not empty %}
                            {% for error in errors %}
                                {% include '_error_notification.html.twig' with {message: error.message} %}
                            {% endfor %}
                        {% endif %}

                        <div class="field">
                            <label for="name" class="label">{% trans %}folder.name{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="folder[name]"
                                       id="name"
                                       class="input"
                                       value="{{ folder.name }}"
                                       required
                                       autofocus
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="caption" class="label">{% trans %}folder.caption{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="folder[caption]"
                                       id="caption"
                                       class="input"
                                       value="{{ folder.caption }}"
                                       required
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-signature"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label for="icon" class="label">{% trans %}folder.icon{% endtrans %} *</label>
                            <div class="control has-icons-left">
                                <input type="text"
                                       name="folder[icon]"
                                       id="icon"
                                       class="input"
                                       value="{{ folder.icon }}"
                                       required
                                >
                                <span class="icon is-small is-left">
                                    <i class="fas fa-icons"></i>
                                </span>
                            </div>
                            <p class="help">
                                <a class="avis-link-green" href="https://fontawesome.com/">Font Awesome</a>
                            </p>
                        </div>

                        {{ form_row(form._token) }}
                    </div>
                    <p class="help">{% trans %}field mandatory{% endtrans %}</p>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {url: 'admin_folder_index', class: 'card-footer-item'} %}
                    <button class="button card-footer-item avis-link-green avis-button-card" type="submit">
                        {{ button|trans }}
                    </button>
                </footer>
            </div>
        </form>
    </div>
</div>

{% if folder.id is not null %}
    <div class="columns">
        <div class="column">
            {% include('admin/_delete_form.html.twig')
                with {message: 'folder.alert', id: folder.id, path: 'admin_folder_delete'}
            %}
        </div>
    </div>
{% endif %}
