<h1 class="title">
    <span class="icon is-medium">
        <i class="fas fa-folder"></i>
    </span>&nbsp;
    {% trans %}folder.management{% endtrans %}
    <p class="help">{% trans %}folder.helper{% endtrans %}</p>
</h1>
