{% extends 'admin/folder/base.html.twig' %}

{% block title %} - {% trans %}folder.folders{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {'isSectionActive': true, 'sectionUrl': 'admin_folder_index', 'section': 'folder.folders'}
    %}

    {% include 'admin/_filter.html.twig' %}

    <table class="table avis-table is-bordered is-hoverable is-fullwidth sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}folder.name{% endtrans %}</th>
                <th>{% trans %}folder.caption{% endtrans %}</th>
                <th>{% trans %}admin.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for folder in folders %}
            <tr>
                <td>{{ folder.id }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_folder_show', {'id': folder.id}) }}">
                        {{ folder.name }}
                    </a>
                </td>
                <td>{{ folder.caption }}</td>
                <td>
                    <a class="avis-link-green" href="{{ path('admin_folder_edit', {'id': folder.id}) }}">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'admin/_new.html.twig' with {name: 'admin_folder_new'} %}
{% endblock %}
