{% extends 'admin/folder/base.html.twig' %}

{% set button = 'admin.create' %}

{% block title %} - {% trans %}admin.create{% endtrans %} {% trans %}folder.folder{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_folder_index',
        'section': 'folder.folders',
        'isCrudActive': true,
        'crud': 'admin.create'
    }
    %}

    {{ include('admin/folder/_form.html.twig', {'button_label': button}) }}
{% endblock %}
