{% extends 'admin/folder/base.html.twig' %}

{% block title %} - {% trans %}folder.folder{% endtrans %}{% endblock %}

{% block section %}
    {% include 'admin/_breadcrumb.html.twig'
        with {
        'sectionUrl': 'admin_folder_index',
        'section': 'folder.folders',
        'isCrudActive': true,
        'crud': 'folder.folder'
    }
    %}

    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <span class="icon is-large avis-2-5 avis-green">
                              {{ folder.icon|raw }}
                            </span>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ folder.name }}</p>
                            <p class="subtitle is-6">
                                {% trans %}article.articlePublished{% endtrans %}: {{ folder.articlePublished }} -
                                {% trans %}article.articleDraft{% endtrans %}: {{ folder.articleDraft }}
                            </p>
                        </div>
                    </div>

                    <div class="content">
                        <p>
                            {{ folder.caption }}
                        </p>
                    </div>
                </div>

                <footer class="card-footer">
                    {% include 'admin/_back_to_list.html.twig'
                        with {'url': 'admin_folder_index', 'class': 'card-footer-item'} %}
                    {% include 'admin/_edit.html.twig'
                        with {'url': 'admin_folder_edit', 'id': folder.id, 'class': 'card-footer-item'}
                    %}
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
